src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- Punto de entrada HTTP. APIkit decide el recurso concreto a partir del RAML. -->
    <flow name="sps-customers-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/v1/sps/*" doc:name="GET /api/v1/sps/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="SPS_Customers_API_Config" doc:name="Enrutador APIkit"/>
        <!-- Errores normalizados para que todos los consumidores reciban el mismo contrato JSON. -->
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" logException="false">
                <set-variable variableName="httpStatus" value="400"/>
                <ee:transform doc:name="Respuesta de solicitud inválida">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Solicitud inválida",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND" logException="false">
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform doc:name="Respuesta de recurso no encontrado">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Recurso no encontrado",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" logException="false">
                <set-variable variableName="httpStatus" value="405"/>
                <ee:transform doc:name="Respuesta de método no permitido">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Método no permitido",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY" logException="true">
                <set-variable variableName="httpStatus" value="500"/>
                <ee:transform doc:name="Respuesta de error genérico">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Error inesperado al procesar la solicitud",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!-- Implementa GET /customers: consulta MySQL y entrega solo los campos públicos del cliente. -->
    <flow name="get:\customers:SPS_Customers_API_Config">
        <logger level="INFO"
                doc:name="Inicio de consulta de clientes"
                message="Consultando clientes SPS. correlationId=#[correlationId]"/>
        <db:select config-ref="Database_Config" doc:name="Seleccionar clientes">
            <db:sql><![CDATA[SELECT * FROM customers;]]></db:sql>
        </db:select>
        <!-- El mapper tolera diferentes variantes de casing devueltas por el driver JDBC. -->
        <ee:transform doc:name="Mapear respuesta de clientes">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (customer) -> {
  firstName: customer.FirstName default customer.firstName default customer.FIRSTNAME default null,
  lastName: customer.LastName default customer.lastName default customer.LASTNAME default null,
  email: customer.Email default customer.email default customer.EMAIL default null,
  company: customer.Company default customer.company default customer.COMPANY default null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO"
                doc:name="Consulta de clientes completada"
                message="Clientes devueltos: #[sizeOf(payload)] correlationId=#[correlationId]"/>
    </flow>
</mule>
