src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
    implementation.xml
    ============================================================================
    Contiene la lĂłgica de negocio del API: el flow principal expuesto por HTTP
    y el flow generado por convenciĂłn de APIkit para `GET /customers`. Los
    elementos reutilizables (HTTP listener config, DB config, APIkit config,
    Autodiscovery) viven en `global.xml`.
-->
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!--
        Flow principal: punto de entrada HTTP.

        El path `/api/v1/sps/*` actĂşa como prefijo comĂşn; APIkit Router se
        encarga de matchear el resto del path contra los recursos del RAML
        (en este momento solo `/customers`). Mantener el wildcard permite
        agregar nuevos endpoints sin tocar el listener.

        - El bloque `<http:response>` y `<http:error-response>` consumen las
          variables `httpStatus` y `outboundHeaders` que tanto APIkit como el
          error-handler poblan. Los `default` evitan que respuestas exitosas
          o errores intermedios fallen por la ausencia de la variable.

        - Este flow es tambiĂ©n el `flowRef` apuntado por la Autodiscovery en
          global.xml: cuando Mule Gateway aplica polĂ­ticas (Client-ID,
          rate-limit, etc.) las inyecta como interceptors justo antes del
          listener, garantizando que ninguna peticiĂłn llegue a la lĂłgica de
          negocio sin pasar por las polĂ­ticas configuradas en API Manager.
    -->
    <flow name="sps-customers-main">
        <http:listener config-ref="HTTP_Listener_config" path="/api/v1/sps/*" doc:name="GET /api/v1/sps/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="SPS_Customers_API_Config" doc:name="Enrutador APIkit"/>

        <!--
            Error handler unificado.

            APIkit emite tipos de error especĂ­ficos (`APIKIT:BAD_REQUEST`,
            `APIKIT:NOT_FOUND`, `APIKIT:METHOD_NOT_ALLOWED`) cuando el request
            no calza con el contrato del RAML. AquĂ­ se traducen a respuestas
            JSON con la misma estructura (`error`, `code`, `timestamp`,
            `correlationId`) para que cualquier consumidor pueda parsear los
            errores con un Ăşnico schema y trazarlos con el `correlationId`
            inyectado por el runtime.

            `on-error-propagate type="ANY"` actĂşa como red de seguridad para
            cualquier excepciĂłn no prevista (caĂ­da de DB, error en DataWeave,
            etc.). Se conserva `logException="true"` solo en este caso para
            no esconder fallas reales detrĂˇs del JSON normalizado.
        -->
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST" logException="false">
                <set-variable variableName="httpStatus" value="400"/>
                <ee:transform doc:name="Respuesta de solicitud invĂˇlida">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Solicitud invĂˇlida",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND" logException="false">
                <set-variable variableName="httpStatus" value="404"/>
                <ee:transform doc:name="Respuesta de recurso no encontrado">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Recurso no encontrado",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED" logException="false">
                <set-variable variableName="httpStatus" value="405"/>
                <ee:transform doc:name="Respuesta de mĂ©todo no permitido">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "MĂ©todo no permitido",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="ANY" logException="true">
                <set-variable variableName="httpStatus" value="500"/>
                <ee:transform doc:name="Respuesta de error genĂ©rico">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  error: "Error inesperado al procesar la solicitud",
  code: error.errorType as String,
  timestamp: now() as String,
  correlationId: correlationId
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>

    <!--
        Flow generado por APIkit para `GET /customers`.

        El nombre `get:\customers:SPS_Customers_API_Config` es convenciĂłn de
        APIkit: `<mĂ©todo>:\<recurso>:<configName>`. No se renombra porque el
        router lo busca exactamente asĂ­ para enrutar el request.

        LĂłgica:
        1. Logger inicial con `correlationId` para poder correlacionar este
           punto con la respuesta final desde Anypoint Monitoring o los logs
           de CloudHub.
        2. `db:select` ejecuta la consulta indicada por el dominio: la query
           viene en CDATA para soportar punto y coma final y caracteres
           especiales sin escaping.
        3. DataWeave proyecta solo los campos pĂşblicos del cliente. La
           respuesta cruda del JDBC incluye columnas con mayĂşsculas o
           minĂşsculas inconsistentes segĂşn driver y configuraciĂłn; el
           encadenamiento `default` cubre las tres variantes mĂˇs comunes
           (PascalCase, camelCase, UPPER_CASE) y devuelve `null` si ninguna
           aparece, para que el consumidor reciba siempre el mismo schema.
        4. Logger final reporta el tamaĂ±o de la respuesta. Ayuda a diferenciar
           rĂˇpido en logs si una consulta vacĂ­a es porque la DB no devolviĂł
           filas o porque DataWeave perdiĂł campos en la transformaciĂłn.
    -->
    <flow name="get:\customers:SPS_Customers_API_Config">
        <logger level="INFO"
                doc:name="Inicio de consulta de clientes"
                message="Consultando clientes SPS. correlationId=#[correlationId]"/>
        <db:select config-ref="Database_Config" doc:name="Seleccionar clientes">
            <db:sql><![CDATA[SELECT * FROM customers;]]></db:sql>
        </db:select>
        <ee:transform doc:name="Mapear respuesta de clientes">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map (customer) -> {
  firstName: customer.FirstName default customer.firstName default customer.FIRSTNAME default null,
  lastName: customer.LastName default customer.lastName default customer.LASTNAME default null,
  email: customer.Email default customer.email default customer.EMAIL default null,
  company: customer.Company default customer.company default customer.COMPANY default null
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO"
                doc:name="Consulta de clientes completada"
                message="Clientes devueltos: #[sizeOf(payload)] correlationId=#[correlationId]"/>
    </flow>
</mule>
